.about {
    position: relative;
    z-index: 1;
    .bg-ellipse-1 {
        position: absolute;
        top: 63.5%;
        left: 50%;
        transform: translate(-50%, -36.5%);
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            max-width: 1054px;
            max-height: 1054px;
        }
    }
    h2 {
        position: relative;
        z-index: 3;
        background: linear-gradient(90deg, #fff 50%, rgba(255, 255, 255, 0.2) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__content {
        position: relative;
        padding-top: 80px;
        display: flex;
        column-gap: 50px;
        height: 100%;
        align-items: stretch;
        z-index: 3;
        @include breakpoint(tablet) {
            padding-top: 56px;
            flex-direction: column-reverse;
            row-gap: 32px;
        }
        @include breakpoint(mobileonly) {
            padding-top: 32px;
            row-gap: 16px;
        }
        &-description {
            width: calc(66.66% - 50px);
            font-weight: 400;
            text-align: center;
            padding: 36px 43px 57px 63px;
            border-radius: $radius-20;
            background: url("../img/@2x/about-background.jpg") no-repeat center/cover;
            @include breakpoint(desktop) {
                padding: 35px 40px;
            }
            @include breakpoint(tablet) {
                width: 100%;
            }
            @include breakpoint(mobileonly) {
                padding: 24px;
            }
            h3 {
                margin-bottom: 17px;
                @include breakpoint(mobileonly) {
                    margin-bottom: 24px;
                }
                span {
                    display: inline-block;
                }
            }
            p {
                font-weight: 300;
                font-size: 32px;
                line-height: 30px;
                letter-spacing: 0.01em;
                @include breakpoint(desktop) {
                    font-size: 28px;
                    line-height: 1.5;
                }
                @include breakpoint(tablet) {
                    font-size: 22px;
                }
                @include breakpoint(mobileonly) {
                    font-size: 14px;
                }
                & + p {
                    margin-top: 30px;
                    @include breakpoint(mobileonly) {
                        margin-top: 21px;
                    }
                }
                &.font-italic {
                    letter-spacing: 0.02em;
                }
            }
        }
        &-image {
            position: relative;
            width: 33.33%;
            border-radius: $radius-30;
            overflow: hidden;
            @include breakpoint(tablet) {
                width: 60%;
                margin: 0 auto;
            }
            @include breakpoint(mobileonly) {
                width: 100%;
            }
            picture {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                @include breakpoint(tablet) {
                    position: relative;
                }
                img {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
