.philosophy {
    position: relative;
    z-index: 3;
    h2 {
        display: inline-block;
    }
    &__content {
        display: flex;
        column-gap: 80px;
        height: 100%;
        align-items: stretch;
        @include breakpoint(desktop) {
            column-gap: 32px;
        }
        @include breakpoint(laptop) {
            flex-direction: column;
            row-gap: 64px;
        }
        &-image {
            position: relative;
            width: 36%;
            @include breakpoint(laptop) {
                width: 60%;
                margin: 0 auto;
            }
            @include breakpoint(mobileonly) {
                width: 100%;
            }
            .image__badge {
                position: absolute;
                top: auto;
                bottom: -1px;
                left: 0;
                width: 117px;
                height: 308px;
                display: flex;
                background: url("../img/@2x/badge-bg.png") no-repeat left bottom / cover;
                @include breakpoint(mobileonly) {
                    width: 60px;
                    height: 175px;
                }
                &-text {
                    transform: rotate(180deg);
                    writing-mode: tb-rl;
                }
                p {
                    margin-top: 1px;
                    margin-right: -4px;
                    color: $color-white;
                    font-size: 20px;
                    line-height: 1;
                    font-weight: 500;
                    text-transform: uppercase;
                    &[lang="en"] {
                        font-family: $Poppins-medium;
                    }
                    @include breakpoint(mobileonly) {
                        font-size: 12px;
                    }
                }
            }
        }
        picture {
            display: block;
            width: 100%;
            height: 100%;
            img {
                @include image-fit;
                border-radius: $radius-30;
                overflow: hidden;
                @include breakpoint(mobileonly) {
                    border-radius: $radius-20;
                }
            }
        }

        &-description {
            width: calc(64% - 80px);
            font-weight: 400;
            margin-bottom: 13px;
            @include breakpoint(desktop) {
                width: calc(64% - 32px);
            }
            @include breakpoint(laptop) {
                width: 100%;
                margin-bottom: 0;
            }
            .description__column {
                display: flex;
                column-gap: 60px;
                align-items: flex-end;
                @include breakpoint(mobileonly) {
                    flex-direction: column;
                    row-gap: 22px;
                }
                &-text {
                    width: calc(65.5% - 60px);
                    @include breakpoint(mobileonly) {
                        width: 100%;
                    }
                }
                &-image {
                    width: 34.5%;
                    @include breakpoint(mobileonly) {
                        width: 100%;
                    }
                    .content {
                        height: 290px;
                        @include breakpoint(mobileonly) {
                            height: 315px;
                        }
                    }
                    .tabs__list {
                        @include breakpoint(mobileonly) {
                            overflow: auto;
                        }
                    }
                    .image-descr {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 40px;
                        @include breakpoint(tablet) {
                            margin-bottom: 20px;
                        }
                        @include breakpoint(mobileonly) {
                            flex-direction: row;
                            column-gap: 65px;
                            margin-bottom: 4px;
                        }
                        .tabs__item {
                            @include breakpoint(mobileonly) {
                                position: relative;
                            }
                            .tabs__btn {
                                position: relative;
                                min-width: 170px;
                                caret-color: transparent;
                                @include breakpoint(mobileonly) {
                                    min-width: inherit;
                                }
                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 100%;
                                    height: 1.5px;
                                    background: url("../img/icon/tabs-line.svg") no-repeat left bottom/cover;
                                    @include breakpoint(mobileonly) {
                                        content: none;
                                    }
                                }
                            }
                            &:last-child {
                                .tabs__btn {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                            &:after {
                                @include breakpoint(mobileonly) {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: -32px;
                                    bottom: 0;
                                    left: auto;
                                    width: 1.5px;
                                    height: 100%;
                                    background: url("../img/icon/tabs-line-vertical.svg") no-repeat left bottom/cover;
                                }
                            }
                        }
                    }
                    .image-full {
                        position: relative;
                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            right: 0;
                            bottom: 0;
                            z-index: 2;
                            background: rgba(0, 0, 0, 0.2);
                        }
                        img {
                            // @include image-fit;
                            border-radius: $radius-20;
                            overflow: hidden;
                        }
                    }
                }
            }
            h2 {
                margin-top: -30px;
                line-height: 1.35;
                @include breakpoint(mobileonly) {
                    margin-top: 0;
                    line-height: 1.5;
                    margin-bottom: 20px;
                }
            }
            p {
                font-weight: 400;
                font-size: 24px;
                line-height: 38px;
                @include breakpoint(desktop) {
                    font-size: 20px;
                    line-height: 1.5;
                }
                @include breakpoint(tablet) {
                    font-size: 16px;
                }
                @include breakpoint(mobileonly) {
                    font-size: 14px;
                }
                span {
                    font-weight: 700;
                }
            }

            ul {
                padding-top: 12px;
                li {
                    position: relative;
                    padding-left: 35px;
                    @include breakpoint(mobileonly) {
                        padding-left: 22px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: 15px;
                        left: 13px;
                        width: 7px;
                        height: 7px;
                        border-radius: $radius-50;
                        background: $color-dark-grey;
                        @include breakpoint(mobileonly) {
                            top: 10px;
                            left: 8px;
                            width: 4px;
                            height: 4px;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 37px;
                        @include breakpoint(mobileonly) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            .btn-accent {
                margin-top: 88px;
                margin-left: 22px;
                @include breakpoint(tablet) {
                    margin-top: 48px;
                }
                @include breakpoint(mobileonly) {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 16px;
                    height: 42px;
                }
            }
        }
    }
}
