.portfolio {
    position: relative;
    z-index: 1;
    .bg-ellipse-4 {
        top: 2%;
        left: 0;
        img {
            width: 100%;
            height: 100%;
            max-width: 1054px;
            max-height: 1054px;
        }
    }
    h2 {
        display: inline-block;
        margin-bottom: 0;
        span {
            line-height: 1.35;
            @include breakpoint(mobileonly) {
                text-align: center;
            }
        }

        @include breakpoint(mobileonly) {
            width: 100%;
            text-align: center;
        }
    }
    &__top {
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: 50px;
        @include breakpoint(laptop) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 32px;
        }
        &-tags {
            max-width: 550px;
            margin-bottom: 60px;
            @include breakpoint(laptop) {
                width: 100%;
                max-width: 100%;
                margin-bottom: 0;
            }
            span {
                font-size: 20px;
                font-weight: 400;
                color: $color-dark-grey;
                &[lang="en"] {
                    font-family: $Poppins-regular;
                }
            }
        }
    }
    &__content {
        z-index: 3;
    }
    .swiper-container {
        position: relative;
        padding-right: 28px;
        @include breakpoint(laptop) {
            padding-right: 0;
        }
    }
    .portfolio-item {
        display: flex;
        column-gap: 50px;
        @include breakpoint(laptop) {
            row-gap: 30px;
            flex-wrap: wrap;
        }
        @include breakpoint(mobileonly) {
            column-gap: 16px;
        }
        &__image {
            border-radius: $radius-30;
            overflow: hidden;
            width: calc(32.6% - 33px);
            @include breakpoint(laptop) {
                width: calc(50% - 25px);
            }
            img {
                @include all-size;
                object-fit: cover;
            }
        }
        &__content {
            margin-top: auto;
            padding-bottom: 33px;
            width: calc(34.8% - 33px);
            @include breakpoint(laptop) {
                width: 100%;
                padding-bottom: 0;
            }
            .content-item {
                flex-direction: column;
                h3 {
                    color: $color-white;
                    font-family: $OpenSans;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 1.68;
                    margin-bottom: 10px;
                    &[lang="en"] {
                        font-family: $Poppins-regular;
                    }
                    span {
                        line-height: 1.68;
                    }
                }
                &-text {
                    color: $color-dark-grey;
                    padding-right: 25%;
                    font-weight: 400;
                    @include breakpoint(phablet) {
                        padding-right: 0;
                    }
                }
                .date {
                    display: block;
                    margin-top: 16px;
                    color: $color-white;
                    font-family: $OpenSans;
                    font-weight: 400;
                    font-size: 16px;
                    &[lang="en"] {
                        font-family: $Poppins-regular;
                    }
                }
                &__desc {
                    padding-top: 58px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    column-gap: 20px;
                    row-gap: 8px;
                    flex-wrap: wrap;
                    @include breakpoint(laptop) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    .info {
                        display: flex;
                        align-items: center;
                        column-gap: 23px;
                    }
                    .orange {
                        width: 74px;
                        height: 74px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: $radius-50;
                        background: #b27b23;
                        flex-shrink: 0;
                    }
                    .info-text {
                        span {
                            color: $color-white;
                            font-family: $OpenSans;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 1.5;
                            &[lang="en"] {
                                font-family: $Poppins-regular;
                            }
                        }
                        p {
                            font-family: $OpenSans;
                            font-size: 16px;
                            font-weight: 400;
                            margin-top: 9px;
                            margin-bottom: -2px;
                            line-height: 1.5;
                            &[lang="en"] {
                                font-family: $Poppins-regular;
                            }
                        }
                    }
                    .public {
                        font-family: $OpenSans;
                        font-size: 16px;
                        font-weight: 400;
                        padding-bottom: 6px;
                        line-height: 1.2;
                        &[lang="en"] {
                            font-family: $Poppins-regular;
                        }
                    }
                }
            }
        }
    }
}
