.services {
    position: relative;
    z-index: 3;
    &__top {
        margin-bottom: 50px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: 40px;
        @include breakpoint(laptop) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 32px;
        }
        @include breakpoint(mobileonly) {
            margin-bottom: 22px;
        }
        &-tags {
            margin-top: auto;
            width: calc(42% - 40px);
            margin-bottom: 20px;
            @include breakpoint(laptop) {
                width: 100%;
                margin-bottom: 0;
            }
            span {
                font-size: 20px;
                font-weight: 400;
                color: $color-dark-grey;
                &[lang="en"] {
                    font-family: $Poppins-regular;
                }
                @include breakpoint(laptop) {
                    font-size: 16px;
                }
                @include breakpoint(mobileonly) {
                    font-size: 14px;
                    line-height: 1.4;
                }
            }
        }
    }
    h2 {
        line-height: 1.35;
        display: inline-block;
        margin-bottom: 0;
        span {
            line-height: 1.35;
            @include breakpoint(mobileonly) {
                line-height: 1.5;
            }
        }
    }

    &__content-slider {
        position: relative;
        padding-right: 110px;
        @include breakpoint(laptop) {
            padding-right: 0;
        }
    }

    .swiper {
        align-items: stretch;
        &-wrapper {
            align-items: stretch;
        }
    }
    .swiper-slide {
        height: auto !important;
        border-radius: $radius-30;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        @include breakpoint(mobileonly) {
            border-radius: $radius-20;
        }
    }
    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 57px 35px 38px;
        backdrop-filter: blur(60px);
        background: rgba(255, 255, 255, 0.05);
        height: -webkit-fill-available;
        @include breakpoint(tablet) {
            padding: 24px;
        }
        @include breakpoint(mobileonly) {
            padding: 24px 16px 14px 20px;
        }
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 33px;
            min-height: 205px;
            @include breakpoint(mobileonly) {
                align-items: flex-start;
                margin-bottom: 14px;
                min-height: auto;
            }
            &-logo {
                width: 87px;
                height: 87px;
                border-radius: $radius-50;
                overflow: hidden;
                margin-bottom: 51px;
                @include breakpoint(mobileonly) {
                    width: 64px;
                    height: 64px;
                    margin-bottom: 22px;
                }
                img {
                    @include all-size;
                    object-fit: cover;
                }
            }
            span {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.2;
                text-align: center;
                &[lang="en"] {
                    font-family: $Poppins-light;
                }
                @include breakpoint(mobileonly) {
                    font-size: 14px;
                    line-height: 1.4;
                    text-align: left;
                    padding-right: 15px;
                }
            }
        }
        &__position {
            font-family: $OpenSans;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            color: $color-white;
            margin-bottom: 15px;
            text-align: center;
            &[lang="en"] {
                font-family: $Poppins-medium;
            }
            @include breakpoint(mobileonly) {
                font-size: 20px;
                margin-bottom: 22px;
            }
        }

        &__content {
            padding: 0 8%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            @include breakpoint(tablet) {
                padding: 0;
            }
            @include breakpoint(mobileonly) {
                align-items: flex-start;
                margin-bottom: 0;
                padding-right: 15px;
            }
            p {
                letter-spacing: 0.01em;
                text-align: center;
                @include breakpoint(mobileonly) {
                    text-align: left;
                }
                &[lang="en"] {
                    font-family: $Poppins-light;
                }
            }
            ul {
                li {
                    text-align: center;
                    p {
                        display: inline-block;
                        position: relative;
                        text-align: center;
                        margin-right: auto;
                        margin-left: auto;
                        @include breakpoint(mobileonly) {
                            display: flex;
                            text-align: left;
                            margin-left: 0;
                        }
                        &:before {
                            content: "•";
                            font-size: 16px;
                            border-radius: 50%;
                            margin-right: 8px;
                            color: rgba(255, 255, 255, 0.63);
                            @include breakpoint(mobileonly) {
                                font-size: 14px;
                                margin-left: 8px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }

        .show-more {
            position: absolute;
            top: 56.5px;
            right: 56px;
            display: flex;
            justify-content: flex-end;
            @include breakpoint(tablet) {
                top: 24px;
                right: 24px;
            }
            @include breakpoint(mobileonly) {
                top: 14px;
                right: 14px;
            }
            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                width: 44px;
                border-radius: $radius-50;
                background: $gradient;
                @include breakpoint(mobileonly) {
                    height: 32px;
                    width: 32px;
                }
                &:hover {
                    background: $gradient;
                    svg {
                        transform: rotate(45deg);
                    }
                }
                svg {
                    display: block;
                    width: 22px;
                    height: 22px;
                    fill: $color-white;
                    flex-shrink: 0;
                    transform: rotate(0deg);
                    transition: transform 0.25s ease;
                    pointer-events: none;
                }
            }
        }

        .chat-more {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin-top: auto;
            @include breakpoint(mobileonly) {
                margin-top: -11px;
            }
            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: $radius-50;
                background: transparent;
                @include breakpoint(mobileonly) {
                    width: 20px;
                    height: 20px;
                }
                &:hover {
                    transform: scale(1.08);
                    svg {
                        fill: $color-white;
                    }
                }
                svg {
                    display: block;
                    width: 32px;
                    height: 32px;
                    fill: rgba(255, 255, 255, 0.7);
                    flex-shrink: 0;
                    transition: 0.25s ease;
                    @include breakpoint(mobileonly) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
