.banner {
    margin-top: -3px;
    &__content {
        position: relative;
        display: flex;
        height: 420px;
        padding: 40px;
        border-radius: $radius-40;
        overflow: hidden;
        @include breakpoint(tablet) {
            padding: 24px;
        }
        @include breakpoint(mobileonly) {
            height: 437px;
            padding: 16px;
            border-radius: $radius-32;
        }
        &-block {
            max-width: 575px;
            position: relative;
            z-index: 5;
            @include flex-h-column;
            justify-items: center;
            margin: auto 0;
            @include breakpoint(mobileonly) {
                margin-bottom: 0;
            }
        }
        &-title {
            h1 {
                font-size: 32px;
                line-height: 1.15;
                font-family: $Furore-Regular;
                color: $color-white;
                margin-bottom: 16px;
                @include breakpoint(mobileonly) {
                    font-size: 26px;
                }
                @include breakpoint(mobileonly) {
                    font-size: 20px;
                    margin-bottom: 8px;
                    line-height: 1.2;
                }
            }
        }
        &-subtitle {
            p {
                font-family: $TTNorms-Regular;
                color: $color-white;
                font-size: 16px;
                @include breakpoint(tablet) {
                    font-size: 14px;
                }
                @include breakpoint(mobileonly) {
                    font-size: 12px;
                }
            }
        }

        &-buttons {
            @include flex-v-start;
            column-gap: 16px;
            margin-top: 32px;

            @include breakpoint(phablet) {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 16px;
            }
            @include breakpoint(mobileonly) {
                row-gap: 8px;
            }
        }
    }
    &__picture {
        @include absolute-center;
        @include all-size;
        z-index: 1;
        border-radius: $radius-40;
        picture {
            display: block;
            @include all-size;
            img {
                @include image-fit;
                max-width: 100%;
                max-height: 100%;
            }
        }
        & > img {
                @include image-fit;
                max-width: 100%;
                max-height: 100%;
            }
        &:before {
            content: "";
            @include absolute-center;
            @include all-size;
            z-index: 2;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}
