.partners {
    &-swiper {
        display: flex;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include breakpoint(tablet) {
            width: calc(100% - 16px);
            margin: 0 auto;
            overflow: visible;
        }
    }
    &__item {
        width: 292px;
        height: 168px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $color-white;
        border-radius: $radius-40;
        @include breakpoint(tablet) {
            width: 200px;
            height: 120px;
            border-radius: $radius-32;
        }
        @include breakpoint(mobileonly) {
            width: 150px;
            height: 96px;
            border-radius: $radius-24;
        }
        img,
        .icon {
            // max-width: 128px;
            max-height: 128px;
            margin: 20px;
            object-fit: contain;
            @include breakpoint(tablet) {
                max-height: 90px;
            }
            @include breakpoint(mobileonly) {
                max-height: 64px;
                margin: 16px;
            }
        }
    }
}
