.footer {
   margin-bottom: 40px;
   @include breakpoint(tablet) {
      margin-bottom: 52px;
   }
   &__content {
      padding: 40px;
      border-radius: $radius-40;
      background: $color-dark-gray url("../img/@2x/footer-main-bg.jpg") no-repeat center/cover;
      color: $color-white;
      @include breakpoint(tablet) {
         border-radius: $radius-36;
         padding: 26px;
      }
      @include breakpoint(mobileonly) {
         padding: 16px;
         border-radius: $radius-32;
         background: $color-dark-gray url("../img/@2x/footer-main-bg-mobile.jpg") no-repeat center/cover;
      }

      &-block {
         padding-right: 10px;
         @include breakpoint(tablet) {
            padding-right: 0;
         }
      }

      &-navigation {
         min-width: 215px;
      }

      &-nav {
         padding-left: 60px;
         margin-top: -5px;
         @include breakpoint(tablet) {
            padding-left: 20px;
         }
         @include breakpoint(phablet) {
            align-items: center;
            justify-content: center;
            padding-left: 0;
            margin: -4px 0;
         }
         .footer__nav {
            &-link {
               &:not(:last-child) {
                  display: block;
                  margin-bottom: 10px;
                  @include breakpoint(phablet) {
                     margin-bottom: 6px;
                  }
               }
               @include breakpoint(phablet) {
                  text-align: center;
               }
               a {
                  display: inline-block;
                  font-family: $TTNorms-Medium;
                  font-size: 14px;
                  line-height: 1.2;
                  color: $color-white;
                  text-decoration: none;
                  padding: 5px 0;
                  min-width: 140px;
                  &:hover {
                     opacity: 0.7;
                     text-decoration: none;
                  }
               }
            }
         }
      }
   }

   &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      row-gap: 32px;
      @include breakpoint(phablet) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
   }

   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: min-content;
      margin-bottom: 40px;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      @include breakpoint(phablet) {
         margin-bottom: 16px;
         padding: 14px 24px;
         border-radius: $radius-16;
         background-color: $accent;
      }
      .icon {
         width: 100px;
         height: 24px;
         path {
            fill: $color-white;
         }
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      @include breakpoint(phablet) {
         align-items: center;
         justify-content: center;
      }
      p {
         color: $color-white;
         max-width: 295px;

         line-height: 1.2;
         @include breakpoint(phablet) {
            text-align: center;
         }
         span {
            font-family: $TTNorms-Bold;
         }
      }
   }

   .footer-link {
      display: inline-block;
      width: fit-content;
      margin: 0;
      white-space: nowrap;
      text-decoration: none;
      &:hover,
      &:active {
         opacity: 0.7;
         text-decoration: none;
      }
   }

   &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
      row-gap: 16px;
      flex-wrap: wrap;
      padding-top: 20px;
      border-top: 1px solid $color-light-gray;
      margin-top: 34px;
      @include breakpoint(phablet) {
         flex-direction: column;
         justify-content: center;
         padding-top: 14px;
         row-gap: 13px;
         margin-top: 30px;
      }

      &-links {
         display: flex;
         align-items: center;
         justify-content: space-between;
         column-gap: 20px;
         row-gap: 16px;
         @include breakpoint(phablet) {
            flex-direction: column;
            justify-content: center;
            row-gap: 13px;
         }
      }
   }
   &__copyrigth,
   &__policy {
      font-family: $TTNorms-Regular;
      font-size: 14px;
      line-height: 1.45;
      color: $color-light;
      text-decoration: none;
   }
   &__policy {
      &:hover,
      &:active {
         opacity: 1;
         color: $color-white;
         text-decoration: none;
      }
   }
}
