.feedback {
	&__content {
		width: 100%;
		display: flex;
		background: $color-white;
		border-radius: $radius-40;
		@include breakpoint(tablet) {
			flex-direction: column-reverse;
		}
		h3 {
			margin-bottom: 16px;
			@include breakpoint(mobileonly) {
				margin-bottom: 8px;
			}
		}
		.section-description {
			padding-right: 0;
			@include breakpoint(mobileonly) {
				font-size: 12px;
				padding-bottom: 0;
				margin-bottom: 32px;
			}
			p {
				font-size: 16px;
				padding-right: 0;
				@include breakpoint(mobileonly) {
					font-size: 12px;
				}
			}
		}
		&-form {
			width: 57.7%;
			padding: 40px 0 40px 40px;
			@include breakpoint(tablet) {
				width: 100%;
				padding: 24px;
			}
			@include breakpoint(mobileonly) {
				padding: 16px;
				border-radius: 0 0 32px 32px;
			}
		}

		&-img {
			width: 42.3%;
			position: relative;
			border-radius: 0 40px 40px 0;
			@include breakpoint(tablet) {
				width: 100%;
				border-radius: 40px 40px 0 0;
			}
			@include breakpoint(mobileonly) {
				border-radius: 32px 32px 0 0;
			}
			.feedback__content-banner {
				display: block;
				width: 100%;
				height: 100%;
				@include breakpoint(tablet) {
					max-height: 315px;
				}
				@include breakpoint(mobileonly) {
					max-height: 213px;
				}
				img {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					// right: 0;
					left: 0;
					bottom: 0;
					border-radius: 0 40px 40px 0;
					@include breakpoint(tablet) {
						position: relative;
						max-width: 100%;
						max-height: 315px;
						object-fit: cover;
						border-radius: 40px 40px 0 0;
					}
					@include breakpoint(mobileonly) {
						max-height: 213px;
						object-fit: cover;
						object-position: top;
						border-radius: 32px 32px 0 0;
					}
				}
			}
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 0 40px 40px 0;
				background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
				z-index: 2;
				@include breakpoint(tablet) {
					background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
					border-radius: 40px 40px 0 0;
					z-index: 5;
				}
			}
		}
		&-solder {
			position: absolute;
			right: 42px;
			bottom: 0;
			z-index: 3;
			@include breakpoint(tablet) {
				left: auto;
				right: auto;
				bottom: 0;
				z-index: 3;
				left: 50%;
				transform: translate(-50%, -0);
			}
			img {
				width: 313px;
				@include breakpoint(tablet) {
					width: auto;
					max-width: 230px;
				}
				@include breakpoint(mobileonly) {
					width: auto;
					max-width: 155px;
				}
			}
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	@include breakpoint(mobileonly) {
		row-gap: 8px;
	}
	input {
		width: 100%;
		font-style: normal;
		font-family: $TTNorms-Regular;
		font-size: 14px;
		line-height: 1.1;
		color: $color-dark;
		padding: 17px 16px;
		border-radius: $radius-16;
		background: $color-ultra-light;
		border: 1px solid $color-ultra-light;
		transition: border 0.2s ease;
		@include breakpoint(mobileonly) {
			padding: 16px;
			font-size: 12px;
		}
		&:disabled,
		&[disabled] {
			background: $color-light;
		}

		&.filled {
			border: 1px solid $color-dark;
		}
	}

	button {
		&:disabled {
			opacity: 0.8;
			cursor: not-allowed;
		}
	}

	.btn-accent,
	.btn-blue {
		width: 100%;
		height: 51px;
		@include breakpoint(mobileonly) {
			min-width: 100%;
		}
	}
}
