.modal-overlay {
   @include fixed-center;
   background: rgba(0, 0, 0, 0.4);
   @include flex-all-center;
   height: 100vh;
   width: 100%;
   opacity: 0;
   visibility: hidden;
   transition: all 0.25s ease-in;
   z-index: 55;
   &--visible {
      opacity: 1;
      visibility: visible;
      transition: all 0.25s ease-in;
      &:hover {
         .modal-close span {
            background-color: $accent;
         }
      }
   }
}

.modal {
   width: 100%;
   max-width: 550px;
   height: 100%;
   min-height: 100%;
   padding: 60px;
   margin: 0 0 0 auto;
   @include flex-all-center;
   display: none;
   z-index: 60;
   position: relative;
   background: $color-white;
   border-radius: 0;
   overflow: auto;
   @include breakpoint(tablet) {
      padding: 48px 24px;
   }

   @include breakpoint(mobileonly) {
      padding: 10px;
      max-width: 100%;
      padding: 72px 18px;
   }

   &__content {
      width: 100%;
   }

   &__body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include breakpoint(mobileonly) {
         height: auto;
      }
   }

   &.modal-success,
   &.modal-success-error {
      max-width: 606px;
      text-align: center;
      .modal-order__content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         row-gap: 20px;
         h2 {
            margin-bottom: 0;
         }
      }
   }
}

.modal--visible {
   display: block;
}

.modal-close {
   position: absolute;
   top: 40px;
   right: 40px;
   padding: 8px;
   z-index: 65;
   @include breakpoint(tablet) {
      top: 28px;
      right: 28px;
   }
   @include breakpoint(mobileonly) {
      top: 10px;
      right: 10px;
   }
   img {
      pointer-events: none;
   }
}
