.product {
    &__container {
        h2 {
            margin-bottom: 10px;
            @include breakpoint(tablet) {
                margin-bottom: 6px;
            }
            @include breakpoint(mobileonly) {
                margin-bottom: 3px;
            }
        }
    }

    &-swiper {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        column-gap: 20px;
        @include breakpoint(tablet) {
            column-gap: 16px;
            overflow: visible;
        }
        @include breakpoint(mobileonly) {
            column-gap: 8px;
        }
        &:before {
            @include breakpoint(mobileonly) {
                content: "";
                position: absolute;
                width: 16px;
                height: 100%;
                top: 0;
                right: -16px;
                background: linear-gradient(90deg, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
                z-index: 3;
            }
        }
    }

    &-item {
        width: calc(33.33% - 13px);
        position: relative;
        @include flex-h-column;
        height: auto;
        background: $color-white;
        border-radius: $radius-40;
        overflow: hidden;
        transition: all 0.2s ease;
        @include breakpoint(tablet) {
            border-radius: $radius-32;
        }
        @include breakpoint(mobileonly) {
            border-radius: 24px;
        }

        &__img {
            height: 396px;
            overflow: hidden;
            background: $color-white;
            margin: 0 auto;
            flex-shrink: 0;
            @include breakpoint(tablet) {
                height: 250px;
            }
            @include breakpoint(mobileonly) {
                border-radius: 6px;
                height: 156px;
                margin-bottom: -2px;
            }

            img {
                display: block;
                object-fit: cover;
                max-width: 100%;
                width: 100%;
                height: 100%;
                max-height: 100%;
            }
        }
        &__info {
            height: 100%;
            padding: 20px;
            @include flex-h-column;
            row-gap: 12px;
            margin-top: 4px;
            @include breakpoint(mobileonly) {
                padding: 8px;
                row-gap: 8px;
            }
        }

        &__title {
            color: $color-dark;
            font-size: 32px;
            line-height: 1;
            height: 32px;
            text-decoration: none;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            margin-bottom: 0;
            @include breakpoint(tablet) {
                font-size: 26px;
                height: 26px;
            }
            @include breakpoint(mobileonly) {
                font-size: 20px;
                height: 20px;
            }
        }
        &__tag {
            color: $color-dark-gray;
            font-size: 20px;
            @include breakpoint(tablet) {
                font-size: 16px;
            }
            @include breakpoint(mobileonly) {
                font-size: 12px;
            }
        }
        &__footer {
            @include flex-all-center;
            column-gap: 8px;
            min-height: 50px;
            margin-top: auto;
            padding-top: 28px;
            
            @include breakpoint(tablet) {
                align-items: flex-start;
                flex-direction: column-reverse;
                min-height: 65px;
                padding-top: 8px;
                row-gap: 8px;
            }

            .btn-accent {
                border-radius: $radius-16;
                @include breakpoint(tablet) {
                    width: -webkit-fill-available;
                    max-width: -webkit-fill-available;
                }
                @include breakpoint(mobileonly) {
                    font-size: 12px;
                    padding: 12px;
                }
            }
        }
        .new-price {
            color: $color-dark;
            font-family: $TTNorms-Medium;
            font-size: 20px;
            line-height: 1.1;
            white-space: nowrap;
            margin-left: auto;
            @include breakpoint(tablet) {
                font-size: 18px;
                margin-left: 0;
            }
            @include breakpoint(mobileonly) {
                font-size: 16px;
            }
        }
    }
}
