
$OpenSans: "Open Sans";
$Poppins-light: "Poppins-light";
$Poppins-lightItalic: "Poppins-lightItalic";
$Poppins-regular: "Poppins-regular";
$Poppins-medium: "Poppins-medium";
$Poppins-bold: "Poppins-bold";

$color-white: #ffffff;
$color-white-hover: rgba(255, 255, 255, 0.8);
$color-light-grey: rgba(255, 255, 255, 0.5);
$color-dark-grey: rgba(255, 255, 255, 0.63);
$color-dark: #000000;
$gradient: linear-gradient(180deg, #ff6f00 0%, rgba(255, 0, 0, 0.7) 100%);
$gradient-hover: linear-gradient(180deg, #ff6f00 0%, rgba(255, 0, 0, 0.6) 90%);

$radius-6: 6px;
$radius-8: 8px;
$radius-20: 20px;
$radius-30: 30px;
$radius-50: 50%;