@import "vars";
@import "fonts";
@import "media";
@import "mixins";
@import "base/default";

@import "components/header";
@import "components/navigation";
@import "components/tabs";
@import "components/footer";
@import "components/form";
@import "components/popup";

@import "block/banner";
@import "block/about";
@import "block/philosophy";
@import "block/portfolio";
@import "block/services";