.footer {
   position: relative;
   z-index: 3;
   padding-top: 134px;
   border-top: 1px solid rgba(255, 255, 255, 0.15);
   padding-bottom: 123px;
   @include breakpoint(tablet) {
      padding-top: 80px;
      padding-bottom: 90px;
   }
   @include breakpoint(mobileonly) {
      padding-top: 37px;
      padding-bottom: 64px;
   }

   &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: 70px;
      row-gap: 32px;
      padding-bottom: 107px;
      @include breakpoint(desktop) {
         padding-bottom: 80px;
      }
      @include breakpoint(laptop) {
         flex-wrap: wrap;
         justify-content: flex-start;
      }
      @include breakpoint(phablet) {
         flex-direction: column;
         align-items: flex-start;
         padding-bottom: 30px;
      }
      @include breakpoint(mobileonly) {
         padding-bottom: 16px;
      }
   }

   &__subs {
      width: calc(38.7% - 70px);
      @include breakpoint(laptop) {
         width: 67%;
      }
      @include breakpoint(phablet) {
         width: 100%;
         max-width: 100%;
      }
   }

   &__content {
      color: $color-white;

      &-block {
         @include breakpoint(tablet) {
         }
         h3 {
            color: $color-white;
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            margin-bottom: 28px;
            &[lang="en"] {
               font-family: $Poppins-medium;
            }
            @include breakpoint(phablet) {
               margin-bottom: 16px;
            }
            @include breakpoint(mobileonly) {
               text-align: left;
               // margin-bottom: 32px;
            }
         }
      }

      &-navigation {
         width: 7%;
         min-width: 107px;
         @include breakpoint(phablet) {
            width: 100%;
         }
      }

      &-nav {
         padding-left: 0;
         margin-top: -5px;
         @include breakpoint(tablet) {
            padding-left: 20px;
         }
         @include breakpoint(phablet) {
            align-items: center;
            justify-content: center;
            padding-left: 0;
         }
         .footer__nav {
            @include breakpoint(mobileonly) {
               padding-top: 6px;
            }
            &-link {
               &:not(:last-child) {
                  display: block;
                  margin-bottom: 10px;
                  @include breakpoint(phablet) {
                     margin-bottom: 6px;
                  }
                  @include breakpoint(mobileonly) {
                     margin-bottom: 0;
                  }
               }
               a {
                  display: inline-block;
                  font-family: $Poppins-light, $OpenSans;
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 1;
                  color: rgba(255, 255, 255, 0.75);
                  text-decoration: none;
                  padding: 7px 0;
                  min-width: 140px;
                  @include breakpoint(mobileonly) {
                     font-size: 14px;
                     padding: 4px 0;
                  }
                  &:hover {
                     color: $color-white;
                     text-decoration: none;
                  }
               }
            }
         }
      }
   }

   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: min-content;
      margin-bottom: 28px;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      white-space: nowrap;
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      @include breakpoint(phablet) {
         margin-bottom: 19px;
      }
      &[lang="en"] {
         font-family: $Poppins-medium;
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      width: calc(45.33% - 70px);
      padding-right: 12%;
      @include breakpoint(laptop) {
         width: 100%;
      }
      @include breakpoint(phablet) {
         padding-right: 0;
         justify-content: flex-start;
      }
      p {
         color: $color-white;
         font-family: $OpenSans;
         font-weight: 300;
         line-height: 1.87;
         opacity: 0.7;
         letter-spacing: 0.01em;
         @include breakpoint(phablet) {
            font-size: 14px;
            line-height: 1.5;
         }
         & + p {
            margin-top: 30px;
            @include breakpoint(phablet) {
               margin-top: 22px;
            }
         }
         span {
            &[lang="en"] {
               font-family: $Poppins-light;
            }
         }
         &[lang="en"] {
            font-family: $Poppins-light;
         }
      }

      &-link {
         margin-top: 50px;
         font-size: 16px;
         letter-spacing: 0.01em;
         &[lang="en"] {
            font-family: $Poppins-light;
         }
         @include breakpoint(phablet) {
            color: #ff6f00;
            margin-top: 30px;
         }
         @include breakpoint(mobileonly) {
            margin-top: 0px;
            font-size: 14px;
            letter-spacing: 0.03em;
         }
         &:hover {
            color: $color-dark-grey;
         }
      }
   }

   .footer-link {
      display: inline-block;
      width: fit-content;
      margin: 0;
      white-space: nowrap;
      text-decoration: none;
      &:hover,
      &:active {
         opacity: 0.7;
         text-decoration: none;
      }
   }

   &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
      row-gap: 16px;
      flex-wrap: wrap;
      padding-top: 68px;
      border-top: 2px solid rgba(255, 255, 255, 0.15);
      margin-top: 34px;
      padding-right: 20px;
      @include breakpoint(tablet) {
         flex-direction: column;
         align-items: flex-start;
         padding-top: 48px;
      }

      @include breakpoint(mobileonly) {
         padding-top: 28px;
         row-gap: 28px;
         margin-top: 13px;
      }

      &-links {
         width: 61.4%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         column-gap: 40px;
         row-gap: 32px;
         @include breakpoint(desktop) {
            width: 72%;
         }
         @include breakpoint(phablet) {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
         }
         @include breakpoint(mobileonly) {
            row-gap: 29px;
         }
         div {
            margin-left: auto;
            display: flex;
            align-items: center;
            column-gap: 87px;
            justify-content: space-between;
            @include breakpoint(desktop) {
               column-gap: 50px;
            }
            @include breakpoint(phablet) {
               flex-wrap: wrap;
               row-gap: 32px;
               margin-left: 0;
            }
         }
      }
      .icon {
         width: 32px;
         height: 32px;
         @include breakpoint(mobileonly) {
            width: 24px;
            height: 24px;
         }
      }
   }

   &__policy {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-family: $OpenSans;
      font-size: 16px;
      line-height: 1.87;
      color: $color-dark-grey;
      text-decoration: none;
      white-space: nowrap;
      &:not(.footer__copyrigth) {
         &:hover,
         &:active {
            opacity: 1;
            color: $color-white;
            text-decoration: none;
         }
      }
      &[lang="en"] {
         font-family: $Poppins-light;
      }

      @include breakpoint(mobileonly) {
         font-size: 14px;
      }
   }

   &__col {
      margin-top: 35px;
      display: flex;
      column-gap: 17px;
      @include breakpoint(mobileonly) {
         margin-top: 32px;
         justify-content: space-between;
         margin-bottom: 4px;
      }
      &-item--social {
         a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.06);
            transition: background-color 0.3s ease;
            &:hover {
               background: $color-dark-grey;
            }
         }
      }
   }
}

.subscribe-form-wrapper {
   padding-top: 10px;
   @include breakpoint(mobileonly) {
      padding-top: 19px;
   }
   .subscribe-form {
      @include breakpoint(phablet) {
         flex-direction: column;
         row-gap: 16px;
      }
      .btn-accent {
         @include breakpoint(phablet) {
            width: 100%;
            min-width: 100%;
         }
      }
   }
   span {
      display: block;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.87;
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 30px;
      &[lang="en"] {
         font-family: $Poppins-light;
      }
      @include breakpoint(mobileonly) {
         font-size: 12px;
         margin-bottom: 7px;
      }
   }
}
