.header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  transition:
    position 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  background-color: transparent;
  box-shadow: 0;

  &.scrolled {
    position: fixed;
    background-color: $color-dark;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0;
    &.header-open {
      border-radius: 0;
    }

    .header-top__container {
      padding-top: 20px;
      @include breakpoint(tablet) {
        padding-top: 13px;
      }
    }
    .nav {
      @include breakpoint(tablet) {
        padding-top: 34px;
      }
    }
  }
  &.header-open {
    background-color: $color-dark;
  }

  &-top {
    &__container {
      padding: 50px 0 20px;
      column-gap: 24px;
      transition: padding-top 0.3s ease-in-out;
      @include breakpoint(tablet) {
        padding: 13px 0 16px;
        column-gap: 0;
      }
    }
    &__nav {
      margin: 0 auto;
      // .nav__link {
      //   color: $color-dark-grey;
      //   white-space: nowrap;
      //   &:hover,
      //   &:active,
      //   &:focus {
      //     color: $color-dark;
      //   }
      // }
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(tablet) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    .icon,
    svg {
      display: block;
      width: 160px;
      height: 43px;
      @include breakpoint(mobileonly) {
        width: 156px;
        height: 42px;
      }
    }

    &-group {
      display: flex;
      align-items: center;
      .header__logo {
        position: relative;
      }
    }
  }

  &__buttons {
    display: flex;
    column-gap: 20px;
    margin-right: 7px;
    @include breakpoint(tablet) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
      row-gap: 16px;
      margin-right: 0;
    }
  }

  .btn-accent {
    padding: 17px 43px;
    height: 50px;
    @include breakpoint(tablet) {
      padding: 12px 43px;
      width: 100%;
      height: 45px;
      margin: 0 auto;
      max-width: 400px;
    }
  }
}

.burger {
  position: relative;
  width: 48px;
  height: 51px;
  @include none;
  border: none;
  padding: 14px;
  border-radius: 0;
  background-color: transparent;
  transition:
    transform 0.45s ease,
    position 0.35s ease;
  cursor: pointer;

  &__line {
    position: absolute;
    left: 14px;
    top: 50%;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: $color-white;
    transform: translateY(-50%);
    transition: opacity 0.2s ease-in-out;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 14px;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: $color-white;
    transition:
      transform 0.2s ease-in-out,
      top 0.2s ease-in-out,
      bottom 0.2s ease-in-out;
  }
  &::before {
    top: 18px;
  }
  &::after {
    bottom: 18px;
  }
  &--active {
    transform: rotate(0deg);
    margin-left: 0;

    .burger__line {
      display: none;
    }
    &::before {
      width: 21px;
      transition:
        position 1s ease-in-out,
        top 0.6s ease-in-out,
        right 0.6s ease-in-out;
      transform: rotate(45deg);
      top: 24px;
      left: 13px;
      opacity: 1;
    }
    &::after {
      width: 21px;
      transition:
        position 1s ease-in-out,
        top 0.6s ease-in-out,
        bottom 0.6s ease-in-out;
      transform: rotate(-45deg);
      bottom: 24px;
      left: 13px;
      opacity: 1;
    }
  }
  @include breakpoint(tablet) {
    @include block;
    z-index: 30;
  }
}
