$Roboto-300: "Roboto-Light", sans-serif;
$Roboto-400: "Roboto-Regular", sans-serif;
$Roboto-700: "Roboto-Bold", sans-serif;
$Nunito-Semibold: "Nunito-Semibold", sans-serif;

$color-white: #ffffff;
$color-ultra-light: #F2F7F5;
$color-dark: #2A3D35;
$color-dark-gray: #999594;
$color-black: #000000;
$accent: #989898;
$accent-hover: #7d7a7a;
$color-light: #d4d4d4;

$radius-8: 8px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;

// старые цвета
$radius-24: 24px;
$radius-32: 32px;
$radius-36: 36px;
$radius-40: 40px;
$radius-50: 50%;