.reservation {
    &__list {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

    }
    &__item {
        width: 100%;
        display: flex;
        column-gap: 36px;
        margin-bottom: 20px;
        @include breakpoint(tablet) {
            flex-direction: column;
            row-gap: 20px;
        }
    }
    .product-container {
        // width: 66%;
    }

    &__into {
        ul {
            row-gap: 12px;
            li {
                display: flex;
                align-items: center;
                column-gap: 10px;
                img {
                    width: 43px;
                    height: auto;
                }
            }
        }
    }

    &__btn {
        .btn-accent {
            max-width: max-content;
            margin: 30px auto 0;
            @include breakpoint(tablet) {
                margin-top: 10px;
            }
        }
    }
    &__widget {
        &-img {
            width: 155px;
            @include breakpoint(mobileonly) {
                width: 125px;
            }
        }
    }

    &__value {
        position: relative;
        span {
            position: absolute;
            top: 6px;
            left: 18px;
            font-family: $Roboto-400;
            font-weight: 400;
            font-size: 14px;
        }
    }
}
