$Lato-Regular: "Lato-Regular", sans-serif;
$Lato-SemiBold: "Lato-SemiBold", sans-serif;
$Lato-Bold: "Lato-Bold", sans-serif;
$Lato-Heavy: "Lato-Heavy", sans-serif;
$Raleway-ExtraBold: "Raleway-ExtraBold", sans-serif;

$color-white: #ffffff;
$color-thin: #dedee0;
$color-thin-dark: #dfdfe0;
$color-grey-light: #BBBBBB;
$color-grey: #9A9D9F;
$color-black-light: #272733;
$color-black: #000000;
$accent: #3E9CDC;
$accent-hover: #286690;

$radius-default: 4px;