/* cyrillic */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-display: swap;
	src: url("../fonts/OpenSans-italic.woff2") format("woff2");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-display: swap;
	src: url("../fonts/OpenSans-normal.woff2") format("woff2");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
*:hover,
*:focus {
	outline: 0;
}
html,
body {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	min-width: 320px;
	position: relative;
	font-family: $OpenSans;
	font-size: 16px;
	line-height: 1.87;
	overflow-x: hidden;
	min-height: 100vh;
	padding: 0;
	font-weight: 300;
	color: $color-dark-grey;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	overflow-anchor: none;
	background: $color-dark;
	caret-color: transparent;
	-webkit-tap-highlight-color: transparent;
}
input,
textarea,
select {
	font-family: $OpenSans;
	font-size: 16px;
	line-height: 1;
	color: $color-white;
	caret-color: $color-white;
	font-weight: 300;
	@include breakpoint(mobileonly) {
		font-size: 12px;
	}
	&[lang="en"] {
		font-family: $Poppins-light;
	}
}
*::placeholder {
	font-size: 16px;
	line-height: 1;
	color: $color-white;
	@include breakpoint(mobileonly) {
		font-size: 12px;
	}

	&[lang="ru"] {
		font-family: $OpenSans;
	}

	&[lang="en"] {
		font-family: $Poppins-light;
	}
}

[lang="ru"] {
	font-family: $OpenSans;
}

[lang="en"] {
	font-family: $Poppins-light;
	font-weight: 300;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	appearance: button;
}

img {
	@include block;
	max-width: 100%;
	height: auto;
}

b,
strong {
	font-weight: bold;
}
ul,
li,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
.site-container {
	@include flex-h-column;
	min-height: 100%;
	position: relative;
}

.header {
	flex: 0 0 auto;
}
.main {
	position: relative;
	flex: 1 0 auto;
	margin-top: 172px;
	min-height: 300px;
	overflow: hidden;
	padding-bottom: 270px;
	@include breakpoint(desktop) {
		margin-top: 150px;
		padding-bottom: 220px;
	}
	@include breakpoint(tablet) {
		margin-top: 120px;
		padding-bottom: 160px;
	}
	@include breakpoint(phablet) {
		margin-top: 100px;
		padding-bottom: 120px;
	}
	@include breakpoint(mobileonly) {
		margin-top: 80px;
		padding-bottom: 64px;
	}
}
.footer {
	flex: 0 0 auto;
}
.container {
	width: 100%;
	max-width: 1556px;
	margin: 0 auto;
	padding: 0 16px;
}
a {
	color: $color-white;
	text-decoration: none;
	transition: all 0.2s ease;
	cursor: pointer;
	&:hover,
	&:active,
	&:focus {
		color: $gradient;
		text-decoration: none;
	}
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0;
	padding: 0;
	font-family: $OpenSans;
	line-height: 1;
	font-weight: 300;
	font-style: normal;
	color: $color-white;
	span {
		display: block;
		line-height: 1.5;
	}

	&[lang="en"] {
		font-family: $Poppins-light;
		font-weight: 300;
	}

	@include breakpoint(mobileonly) {
		width: 100%;
		text-align: center;
	}
}

.font-gradient {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0.7) 50%,
		rgba(255, 255, 255, 0.2) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.font-gradient-02 {
	background: linear-gradient(90deg, #fff 50%, rgba(255, 255, 255, 0.2) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1,
.h1 {
	font-size: 200px;
	margin-bottom: 20px;
	line-height: 1.2;
	@media (max-width: 1562px) {
		font-size: 12.7vw;
	}
	@include breakpoint(desktop) {
		font-size: 12.5vw;
		margin-bottom: 16px;
	}
	@include breakpoint(phablet) {
		font-size: 11vw;
	}
	@include breakpoint(mobileonly) {
		font-size: 64px;
		margin-bottom: 8px;
	}
}
h2,
.h2 {
	font-size: 96px;
	font-weight: 300;
	line-height: 1.5;
	color: $color-white;
	margin-bottom: 20px;
	@include breakpoint(desktop) {
		font-size: 75px;
		margin-bottom: 16px;
	}
	@include breakpoint(tablet) {
		font-size: 60px;
		margin-bottom: 12px;
	}
	@include breakpoint(mobileonly) {
		font-size: 40px;
		line-height: 1.15;
		margin-bottom: 8px;
	}
}
h3,
.h3 {
	font-size: 48px;
	line-height: 1.15;
	margin-bottom: 20px;
	@include breakpoint(tablet) {
		font-size: 34px;
		margin-bottom: 12px;
	}
	@include breakpoint(mobileonly) {
		font-size: 20px;
		margin-bottom: 8px;
	}
}
h4,
.h4 {
	font-size: 32px;
	margin-bottom: 20px;
	@include breakpoint(tablet) {
		font-size: 26px;
		margin-bottom: 12px;
	}
	@include breakpoint(mobileonly) {
		font-size: 20px;
		margin-bottom: 8px;
	}
}
h5,
.h5,
h6,
.h6 {
	font-size: 26px;
	@include breakpoint(tablet) {
		font-size: 22px;
		margin-bottom: 12px;
	}
	@include breakpoint(mobileonly) {
		font-size: 20px;
		margin-bottom: 8px;
	}
}
.section {
	scroll-margin-top: 120px;
	& + .section {
		margin-top: 270px;
		@media (max-width: 1580px) {
			margin-top: 210px;
		}
		@include breakpoint(desktop) {
			margin-top: 180px;
		}
		@include breakpoint(tablet) {
			margin-top: 140px;
		}
		@include breakpoint(phablet) {
			margin-top: 100px;
		}
		@include breakpoint(mobileonly) {
			margin-top: 64px;
		}
	}
}
p {
	margin: 0;
	font-family: $OpenSans;
	font-size: 16px;
	line-height: 1.87;
	color: $color-dark-grey;
	& + p {
		margin-top: 20px;
	}
	@include breakpoint(mobileonly) {
		font-size: 14px;
		line-height: 1.5;
	}
}

.text-center {
	text-align: center;
}
.text-upp {
	text-transform: uppercase;
}

.font-italic {
	font-style: italic;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.icon {
	display: block;
}
.text-14 {
	font-size: 14px;
	line-height: 1.2;
}
.text-16 {
	font-size: 16px;
	line-height: 1.2;
}
.text-18 {
	font-size: 14px;
	line-height: 1.2;
}
.text-20 {
	font-size: 16px;
	line-height: 1.2;
}

.color-gradient {
	color: $gradient;
}

.bg-gradient {
	background-color: $gradient;
}

.color-dark-grey {
	color: $color-dark-grey;
}

.color-light-grey {
	color: $color-light-grey;
}

.color-white {
	color: $color-white;
}

a.color-accent {
	color: $gradient;
	&:hover {
		color: $gradient;
	}
}

.is-vishidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
}

.btn-reset {
	border: none;
	padding: 0;
	background: 0 0;
	cursor: pointer;
}

.btn-accent {
	width: min-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 19px 41px;
	font-family: $OpenSans;
	font-weight: 400;
	color: $color-white;
	font-size: 16px;
	line-height: 1;
	white-space: nowrap;
	background: $gradient;
	border: none;
	border-radius: $radius-8;
	text-decoration: none;
	transition: all 0.35s ease-in;
	position: relative;
	text-align: center;
	max-height: 54px;
	z-index: 1;
	@include breakpoint(tablet) {
		width: min-content;
	}
	@include breakpoint(mobileonly) {
		font-size: 14px;
		border-radius: $radius-6;
	}

	&:hover,
	&:active,
	&:focus {
		color: $color-white;
		background: $gradient-hover;
	}

	&:disabled,
	&[disabled],
	&.disabled {
		opacity: 0.8;
	}
	&[lang="en"] {
		font-family: $Poppins-regular;
	}
}

.btn-video {
	width: min-content;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 15px;
	padding: 12px 10px;
	font-family: $OpenSans;
	font-weight: 400;
	color: $color-white;
	font-size: 16px;
	line-height: 1;
	white-space: nowrap;
	background: transparent;
	border: none;
	border-radius: 0;
	text-decoration: none;
	transition: all 0.2s linear;
	position: relative;
	text-align: center;
	max-height: 54px;
	z-index: 1;
	@include breakpoint(mobileonly) {
		font-size: 14px;
		padding: 8px 0;
		column-gap: 6px;
	}
	&:hover,
	&:active,
	&:focus {
		color: $color-white-hover;
		background: transparent;
	}
	svg {
		width: 37px;
		height: 37px;
		pointer-events: none;
		@include breakpoint(mobileonly) {
			width: 24px;
			height: 24px;
		}
	}

	&[lang="en"] {
		font-family: $Poppins-regular;
	}
}
.bg-ellipse-1,
.bg-ellipse-2,
.bg-ellipse-3,
.bg-ellipse-4,
.bg-ellipse-5 {
	position: absolute;
	z-index: -1;
	img {
		width: 100%;
		height: 100%;
		max-width: 1054px;
		max-height: 1054px;
		@include breakpoint(mobileonly) {
		}
	}
}

.bg-ellipse-2 {
	top: 33%;
	left: -8%;
	@include breakpoint(tablet) {
		display: none;
	}
}

.bg-ellipse-3 {
	top: 36%;
	right: -8%;
	@include breakpoint(tablet) {
		display: none;
	}
}

.bg-ellipse-5 {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	img {
		// width: 100%;
		// height: 100%;
		// max-width: 1054px;
		// max-height: 1054px;
	}
}

.btn-light {
	display: inline-block;
	padding: 0;
	font-family: $OpenSans;
	color: $color-dark-grey;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	white-space: nowrap;
	background: transparent;
	text-decoration: none;
	transition: all 0.2s linear;
	position: relative;
	max-height: 51px;
	z-index: 1;
	@include breakpoint(tablet) {
		width: min-content;
	}
	@include breakpoint(mobileonly) {
		width: 100%;
		max-width: 380px;
		font-size: 14px;
	}

	&:hover,
	&:active,
	&:focus {
		color: $color-dark;
		background: $color-white;
		border: 2px solid $color-white;
	}

	&:disabled,
	&[disabled],
	&.disabled {
		opacity: 0.8;
	}

	&[lang="en"] {
		font-family: $Poppins-regular;
	}
}

.contacts-offer {
	display: flex;
	flex-direction: column;
	row-gap: 26px;
	@include breakpoint(phablet) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 30px;
	}

	.contacts-link {
		font-family: $Poppins-light;
		font-size: 20px;
		color: $color-white;
		padding: 0;
		text-decoration: none;

		.header & {
			@include breakpoint(tablet) {
				font-family: $Poppins-medium;
				font-size: 24px;
			}
		}
	}
	span {
		display: block;
		padding-top: 10px;
		.header & {
			@include breakpoint(tablet) {
				font-size: 14px;
				color: rgba(255, 255, 255, 0.5);
				padding-top: 0;
			}
		}
	}
	.header & {
		@include breakpoint(tablet) {
			width: 100%;
			row-gap: 22px;
		}
	}
}

@media (max-width: 991.9px) {
	.hidden-mobile {
		display: none !important;
	}
}

@media (min-width: 992px) {
	.hidden-desktop {
		display: none !important;
	}
}

@media (min-width: 1080px) {
	.hidden-laptop {
		display: none !important;
	}
}

@include breakpoint(desktop) {
	.hidden-fixed-mob {
		display: none !important;
	}
}

.stop-scroll {
	overflow: hidden;
}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after,
.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after {
	content: none;
}

main {
	.swiper-pagination {
		position: absolute;
		width: 100%;
		max-width: 100px;
		margin: 0 auto;
		bottom: 0;
		text-align: center;
		left: 0;
		right: 0;

		.swiper-pagination-bullet {
			width: 6px;
			margin: 0 4px !important;
			height: 6px;
			border-radius: 6px;
			position: relative;
			overflow: hidden;
			background: rgba(255, 255, 255, 0.25);
			opacity: 1;
			&-active {
				background: $color-white;
				opacity: 1;
			}
		}
	}
	.swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: 16px;
		@include breakpoint(mobileonly) {
			bottom: 4px;
		}
	}
	.services__content {
		.swiper-container-horizontal > .swiper-pagination-bullets {
			bottom: 20px;
			@include breakpoint(mobileonly) {
				bottom: 8px;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 54px;
		height: 54px;
		margin-top: 0;
		color: $color-white;
		border-radius: $radius-50;
		background: $gradient;
		transition: background 0.3s ease 0.3s;
		box-shadow: none;
		@include breakpoint(mobileonly) {
			width: 32px;
			height: 32px;
		}
		svg {
			display: block;
			width: 9px;
			height: 16px;
			fill: $color-white;
		}

		&.swiper-button-disabled {
			opacity: 0.8;
			color: $color-white;
			background: $gradient;
			cursor: not-allowed;
			svg {
				opacity: 0.8;
				fill: $color-dark;
			}
		}
	}
}

@media (hover: hover) {
	.swiper-button-next,
	.swiper-button-prev {
		&:hover {
			background: $gradient;
		}
	}
}

@media (hover: none) {
	.swiper-button-next,
	.swiper-button-prev {
		&:active {
			background: $gradient-hover;
		}
	}
}

.portfolio,
.services {
	.swiper_navigation {
		position: absolute;
		display: flex;
		flex-direction: column;
		row-gap: 35px;
		top: auto;
		right: 1px;
		bottom: 184px;
		z-index: 4;
		width: 54px;
		height: 145px;
		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next,
		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
			left: 0;
			right: 0;
		}
		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
			top: 0;
			bottom: auto;
			@include breakpoint(laptop) {
				left: auto;
				right: 0;
			}
		}
		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next {
			top: auto;
			bottom: 0;
			@include breakpoint(laptop) {
				left: 0;
				right: auto;
			}
		}

		@include breakpoint(laptop) {
			position: relative;
			flex-direction: row;
			bottom: 0;
			width: 100%;
			max-width: 500px;
			margin-right: auto;
			margin-left: auto;
			height: 54px;
			margin-top: 60px;
		}
		@include breakpoint(mobileonly) {
			max-width: 176px;
			height: 32px;
			margin-top: 16px;
		}
	}
}
