
$Furore-Regular: "Furore-Regular", sans-serif;
$Furore-Medium: "Furore-Medium", sans-serif;
$Furore-Bold: "Furore-Bold", sans-serif;

$TTNorms-Regular: "TTNorms-Regular", sans-serif;
$TTNorms-Medium: "TTNorms-Medium", sans-serif;
$TTNorms-Bold: "TTNorms-Bold", sans-serif;

$color-ultra-light: #F2F2F2;
$color-white: #ffffff;
$color-dark: #252525;
$color-thin: #FAFAFA;
$color-light: #bbbbbb;
$color-light-gray: #7a7a7a;
$color-dark-gray: #424242;
$accent: #fe4619;
$accent-hover: #e92e00;

$radius-12: 12px;
$radius-16: 16px;
$radius-24: 24px;
$radius-32: 32px;
$radius-36: 36px;
$radius-40: 40px;
$radius-50: 50%;